.icon-yandex
{
  background: url("../img/yandex_256.png") no-repeat center center;
}

.btn-icon{
  background-color: transparent !important;
  background-image: url("../img/car-logos.png") !important;
  border-color: transparent !important;
  display: block;
  height: 90px;
  width: 90px;
  &.icon-audi{
    background-position: -105px -10px;
  }
  &.icon-alfa-romeo{
    background-position: -10px -10px;
  }
  &.icon-bmw{
    background-position: -200px -10px;
  }
  &.icon-chevrole{
    background-position: -295px -10px;
  }
  &.icon-crysler{
    background-position: -390px -10px;
  }
  &.icon-citroen{
    background-position: -485px -10px;
  }
  &.icon-dodje{
    background-position: -580px -10px;
  }
  &.icon-ferari{
    background-position: -675px -10px;
  }
  &.icon-fiat{
    background-position: -770px -10px;
  }
  &.icon-ford{
    background-position: -865px -10px;
  }
  &.icon-daewoo{
    background-position: -10px -100px;
  }
  &.icon-honda{
    background-position: -105px -100px;
  }
  &.icon-hyunday{
    background-position: -200px -100px;
  }
  &.icon-jaguar{
    background-position: -295px -100px;
  }
  &.icon-jeep{
    background-position: -390px -100px;
  }
  &.icon-kia{
    background-position: -485px -100px;
  }
  &.icon-lancia{
    background-position: -580px -100px;
  }
  &.icon-land-rover{
    background-position: -675px -100px;
  }
  &.icon-mazda{
    background-position: -770px -100px;
  }
  &.icon-mercedes{
    background-position: -865px -100px;
  }  
  &.icon-mini-cooper{
    background-position: -10px -190px;
  }
  &.icon-mitsubishi{
    background-position: -105px -190px;
  }
  &.icon-nissan{
    background-position: -200px -190px;
  }
  &.icon-opel{
    background-position: -295px -190px;
  }
  &.icon-peugeot{
    background-position: -390px -190px;
  }
  &.icon-porshe{
    background-position: -485px -190px;
  }
  &.icon-renault{
    background-position: -580px -190px;
  }
  &.icon-rover{
    background-position: -675px -190px;
  }
  &.icon-saab{
    background-position: -770px -190px;
  }
  &.icon-seat{
    background-position: -865px -190px;
  }
  //-----
  &.icon-shkoda{
    background-position: -150px -280px;
  }
  &.icon-smart{
    background-position: -245px -280px;
  }
  &.icon-ssangyong{
    background-position: -340px -280px;
  }
  &.icon-suzuki{
    background-position: -435px -280px;
  }
  &.icon-toyota{
    background-position: -530px -280px;
  }
  &.icon-vw{
    background-position: -625px -280px;
  }
  &.icon-volvo{
    background-position: -720px -280px;
  }
}