[submodule "backend"]
	path = backend
	url = https://github.com/killer-djon/hammer-portal.git
[submodule "modules/phpexcel"]
	path = modules/phpexcel
	url = git://github.com/yuankai/kohana-phpexcel.git
[submodule "modules/kohana-restful-api"]
	path = modules/kohana-restful-api
	url = https://github.com/SupersonicAds/kohana-restful-api.git
[submodule "modules/kohana-oauth2"]
	path = modules/kohana-oauth2
	url = https://github.com/tamaspap/kohana-oauth2.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = https://github.com/biakaveron/oauth.git
[submodule "assets/bootstrap-notify"]
	path = assets/bootstrap-notify
	url = https://github.com/mouse0270/bootstrap-notify.git
