[submodule "backend"]
	path = backend
	url = https://github.com/killer-djon/hammer-portal.git
[submodule "modules/phpexcel"]
	path = modules/phpexcel
	url = git://github.com/yuankai/kohana-phpexcel.git
[submodule "modules/kohana-restful-api"]
	path = modules/kohana-restful-api
	url = https://github.com/SupersonicAds/kohana-restful-api.git
[submodule "assets/bootstrap-notify"]
	path = assets/bootstrap-notify
	url = https://github.com/mouse0270/bootstrap-notify.git
[submodule "modules/kohana-oauth"]
	path = modules/kohana-oauth
	url = https://github.com/Lusitanian/PHPoAuthLib.git
