Icon?
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
kohana_release
nbproject
build
composer.lock
composer.phar
vendor/*
.htpasswd

**/.sass-cache/*
assets/.sass-cache/*

*.scssc
vendor
uploads
**/logs
favicon.ico
robots.txt

/*.html
/application/cache
application/bootstrap.php
/.idea
**/*.log
*.log
/admin/*.log
Dockerfile
**/application/bootstrap.php
**/application/config/database.php
/upload/
/admin/
!/modules/**/vendor
/configs